<h1>{{pageTitle}}</h1>
  

  <p>CNPJ&colon; {{teste.estabelecimento?.cnpj}}</p>
  <p>Nome Fantasia&colon; {{teste.estabelecimento?.nome_fantasia}}</p>
  <p>Razão Social&colon; {{teste.razao_social}}</p>
  <p>Porte&colon; {{teste.porte?.descricao}}</p>
  <p>Rua&colon; {{teste.estabelecimento?.logradouro}} - Numero&colon; {{teste.estabelecimento?.numero}}</p>
  <p>CEP&colon; {{teste.estabelecimento?.cep}} - Bairro&colon; {{teste.estabelecimento?.bairro}} - Estado&colon; {{teste.estabelecimento?.estado?.sigla}}</p>
  <p>Endereço Eletronico&colon; {{teste.estabelecimento?.email}} - Telefone&colon; &lpar; {{teste.estabelecimento?.ddd2}} &rpar; {{teste.estabelecimento?.telefone2}} &sol;    &lpar; {{teste.estabelecimento?.ddd1}} &rpar; {{teste.estabelecimento?.telefone1}}  </p>
 